# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore vscode folder
.vscode/

# Ignore build folder
*/build

# Ignore example files
**/example.cc

# Unignore ML symlink
!api_server/ML